<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <img src="../assets/Img/libroexLogo.png" alt="LibroEx">
    <div class="menu">
      <p class="el" routerLink="">
        <mat-icon>home</mat-icon>
      </p>
      <p class="el" routerLink="books">
        <mat-icon>list</mat-icon>
      </p>
      <p class="el" routerLink="info">
        <mat-icon>settings</mat-icon>
      </p>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>