<p class="title">Informazioni sul progetto</p>
<hr>
<br>
<br>
<div class="container">
    <p class="description">
        L'applicazione è sviluppata utilizzando Angular CLI: 17.1.1 Node: 20.9.0. In questo progetto l'applicazione
        vuole
        incentivare la lettura di libri attraverso il servizio <a href="https://openlibrary.org/" target="_blank">Open
            Library</a>.
        <br>
        <br>
        L'applicazione permette all’utente di cercare tutti i libri di una specifica categoria. Una volta avviata la
        ricerca la lista di libri sarà disponibile e consultabile.
        Al click dell’utente su un libro, l’applicazione visualizza informazioni dettagliate sul libro selezionato.
    </p>
    <br><br>
    <p class="title">Struttura del progetto:</p><br>
    <p class="description">
        <strong>Pagina principale</strong> - Search Box<br> 
        Visualizza una barra di ricerca con apposito button
        <br>
        <br>

        <strong>Visualizzazione libri</strong> - Books List<br>
        Visualizza una tabella con titolo, autore e data di pubblicazione dei libri per la categoria scelta dall'utente
        <br>
        <br>

        <strong>Visualizzazione descrizione</strong> - Book Details <br>
        Visualizza il titolo, la data di pubblicazione, la descrizione e la copertina del libro selezionato dall'utente
    </p>
</div>